<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddNewGuest</servlet-name>
        <servlet-class>servlet.AddNewGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadSavedGuest</servlet-name>
        <servlet-class>servlet.ReadSavedGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadVisitingInformation</servlet-name>
        <servlet-class>servlet.ReadVisitingInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGuest</servlet-name>
        <servlet-class>servlet.DeleteGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInfo</servlet-name>
        <servlet-class>servlet.DeleteInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearInfo</servlet-name>
        <servlet-class>servlet.ClearInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recognize</servlet-name>
        <servlet-class>servlet.Recognize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewGuest</servlet-name>
        <url-pattern>/AddNewGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadSavedGuest</servlet-name>
        <url-pattern>/ReadSavedGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadVisitingInformation</servlet-name>
        <url-pattern>/ReadVisitingInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGuest</servlet-name>
        <url-pattern>/DeleteGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInfo</servlet-name>
        <url-pattern>/DeleteInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearInfo</servlet-name>
        <url-pattern>/ClearInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recognize</servlet-name>
        <url-pattern>/Recognize</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
